/* Google font import (Poppins @ 200 - 500) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, sans-serif;
}

body {
	height: 100dvh;
	width: 100dvw;
	color: #fff;
	background-color: #202020;
	overflow: clip;
}

h1,
h3 {
	text-align: center;
}

ul {
	list-style-type: none;
}

#rules-btn {
	position: fixed;
	top: 1rem;
	right: 1rem;
}

#rules {
	display: none;
	width: 80%;
	background-color: #101010;
	position: absolute;
	top: 20%;
	left: 10%;
}

/* toggle rules open / closed */
#rules.active {
	display: block;
}

/* hanged person area */
#hang-reveal {
	min-height: 5rem;
	width: 70%;
	margin: auto;
	border: 1px solid red;
}

.piece {
	display: none;
}

.piece.revealed {
	display: block;
}

/* mystery word area */
#mystery-word {
	min-height: 3rem;
	width: 80%;
	margin: 2rem auto;
	border: 1px solid orange;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.letter {
	padding: 0 0.25rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}

/* on screen keyboard */
#keyboard {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.key {
	min-width: 10%;
	padding: 0.25rem;
	margin: 0.3rem;
	text-transform: uppercase;
	border: 1px solid lime;
}

.key.found {
}

.key.failed {
}
