/* Google font import (Poppins @ 200 - 500) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/* variables */
:root {
	--primary: #00aaff;
	--secondary: #111;
	--correct: #00b700;
	--failed: #f90303;
	--border: 2px solid var(--primary);
	--radius: 0.25rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, sans-serif;
}

body {
	width: 100dvw;
	color: #fff;
	background-color: var(--secondary);
	overflow-x: clip;
}

section,
article {
	max-width: 900px;
}

/* headings */
h1,
h2,
h3 {
	text-align: center;
	margin: 0.5rem auto;
}

h1 {
	font-size: 1.75rem;
}

h3 {
	font-weight: 300;
}

/* toggle display of rules, winner, and loser */
#rules.active,
#winner.active,
#loser.active {
	display: block;
}

/* remove keyboard and word reveal area when game over */
#mystery-word.game-over,
#keyboard.game-over {
	display: none;
}

#rules-btn {
	padding: 0.1rem 0.3rem;
	color: #fff;
	background-color: #000;
	border: var(--border);
	border-radius: var(--radius);
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
}

#rules {
	display: none;
	width: 90%;
	padding: 1rem;
	background-color: #000;
	border: var(--border);
	border-radius: var(--radius);
	position: absolute;
	top: 20%;
	left: 5%;
}

#rules-close {
	font-size: 1.5rem;
	color: #fff;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0.25rem;
	right: 0.5rem;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 0.75rem;
}

#hang-reveal {
	height: 200px;
	width: 250px;
	margin: auto;
	border: var(--border);
	border-radius: var(--radius);
	background-size: contain;
	background-repeat: no-repeat;
}

#mystery-word {
	min-height: 3rem;
	width: 90%;
	margin: auto;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.mystery-letter {
	padding: 0 0.25rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	border-bottom: var(--border);
}

#keyboard {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.key {
	height: 2rem;
	width: 12%;
	margin: 0.4rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #000;
	background-color: #fff;
	border: var(--border);
	border-radius: var(--radius);
}

.key.found {
	color: #fff;
	background-color: var(--correct);
}

.key.failed {
	color: #fff;
	background-color: var(--failed);
}

#winner,
#loser {
	display: none;
	margin: 3rem auto;
}

.answer {
	text-transform: uppercase;
	font-weight: 500;
}

.answer.correct {
	color: var(--correct);
}

.answer.failed {
	color: var(--failed);
}

footer {
	width: 100%;
	margin-top: 2rem;
	padding-bottom: 0.75rem;
	text-align: center;
}

a {
	margin: 0 0.25rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--primary);
}

@media (width >= 800px) {
	#rules {
		max-width: 600px;
		left: 25%;
	}

	#hang-reveal {
		height: 300px;
		width: 350px;
		margin-top: 2rem;
	}

	#mystery-word {
		margin: 2rem auto;
	}
}
